<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>CategorieController</servlet-name>
  	<display-name>CategorieController</display-name>
  	<description></description>
  	<servlet-class>com.hotel.controllers.CategorieController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChambreController</servlet-name>
  	<display-name>ChambreController</display-name>
  	<description></description>
  	<servlet-class>com.hotel.controllers.ChambreController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<display-name>Controller</display-name>
  	<description></description>
  	<servlet-class>com.hotel.controllers.Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationController</servlet-name>
  	<display-name>ReservationController</display-name>
  	<description></description>
  	<servlet-class>com.hotel.controllers.ReservationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.hotel.controllers.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeController</servlet-name>
  	<display-name>HomeController</display-name>
  	<description></description>
  	<servlet-class>com.hotel.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CategorieController</servlet-name>
  	<url-pattern>/CategorieController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChambreController</servlet-name>
  	<url-pattern>/ChambreController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationController</servlet-name>
  	<url-pattern>/ReservationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
